<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userBoardMapper">

	<!-- 페이징 Start -->
	<sql id="pagingStr">
		<if test="cntPerPage != null and cntPerPage != ''">
		<![CDATA[
			SELECT Z.* FROM (
			SELECT (ROW_NUMBER() OVER()) RNUM, X.* FROM (
		]]>
		</if>
	</sql>

	<!-- 페이징 End -->
	<sql id="pagingEnd">
		<if test="cntPerPage != null and cntPerPage != ''">
		<![CDATA[
			) X
		) Z
	    LIMIT 10 OFFSET #{startRow}
	    ]]>
		</if>
	</sql>

	<insert id="insertBoard" parameterType="hMap">
		INSERT INTO BOARD_DATA (
			board_seq
			,board_title
			,user_id
			,board_date
			,board_content
			,user_auth
			,file_name
			,file_size
			,original_no
			,group_ord
			,group_layer
			) 
		VALUES (
			NEXTVAL('board_seq')
			,#{title}
			,#{userId}
			,NOW()
			,#{content}
			,#{auth}
			,#{fileName}
			,#{fileSize}
		    ,#{originalNo}
			,#{groupOrd}
			,#{groupLayer}
			)
	</insert>

	<select id="selectBoardList" parameterType="hMap" resultType="egovMap">
		<include refid="pagingStr" />
		SELECT "no"
				, url
				, news_kind
				, title
				, contents
				, crawling_time
				, news_regist_time
				, serch_keyword
				, biz_type
				, eval_item
		FROM news_data_sum_1990_1999
		WHERE 1=1 
		<include refid="whereSelectBoardList" />
		ORDER BY "no"
		<include refid="pagingEnd" />
	</select>
	
	<select id="selectUserList" parameterType="hMap" resultType="egovMap">
		<include refid="pagingStr" />
		SELECT  user_id
				,user_name
				,user_auth
		FROM 	USER_INFO
		ORDER BY user_id desc
		<include refid="pagingEnd" />
	</select>
	
	<select id="selectBoardNoticeList" resultType="egovMap">
		SELECT  board_seq
				,board_title
				,user_id
				,board_date
		FROM 	BOARD_DATA
		WHERE   user_auth = 'A'
		ORDER BY board_seq desc
	</select>
	
	<select id="selectSubDataList" parameterType="hMap" resultType="egovMap">
		SELECT a."no"
				, b."name"
				, searchkeyword
				, "type"
				, (length(contents) - length(replace(contents,b.searchkeyword,'')))/length(b.searchkeyword) "count"
		FROM news_data_sum_1990_1999 a  
			LEFT JOIN (SELECT ct.searchkeyword,cc."name",cc."type" 
						FROM com_text ct,com_code cc 
						WHERE CAST(ct.com_code_no as smallint) = cc."no") b 
					ON a.contents like CONCAT('%',b.searchkeyword,'%')
		WHERE "no" = #{no}
		ORDER BY "type", "count" desc, b."name", serch_keyword
	</select>
	
	<select id="selectBoardOne" parameterType="hMap" resultType="egovMap">
		SELECT "no"
				, url
				, news_kind
				, title
				, contents
				, crawling_time
				, news_regist_time
				, serch_keyword
				, biz_type
				, eval_item
		FROM 	news_data_sum_1990_1999
		WHERE 	no = #{no}
	</select>
	
	<select id="totalcount" resultType="int">
		SELECT COUNT(*)
		FROM news_data_sum_1990_1999
		WHERE 1=1
		<include refid="whereSelectBoardList" />
	</select>
	
	<select id="layercount" parameterType="hMap" resultType="int">
		SELECT	COUNT(*)
		FROM board_data
		WHERE original_no = #{originalNo} AND group_ord = #{groupOrd}
	</select>
	
	<select id="ordcount" parameterType="hMap" resultType="int">
		SELECT	COUNT(*)
		FROM board_data
		WHERE original_no = #{originalNo}
	</select>
	
	<select id="usertotalcount" resultType="int">
		SELECT COUNT(*)
		FROM USER_INFO
	</select>
	
	<update id="updateBoardData" parameterType="hMap">
		UPDATE 	BOARD_DATA
		   SET 	board_title = #{title}
				, board_content = #{content}
				, board_date = NOW()
				, file_name = #{fileName}
				, file_size = #{fileSize}
		 WHERE 	board_seq = #{seq}
	</update>
	
	<update id="updateBoardOrd" parameterType="hMap">
		UPDATE 	BOARD_DATA
		   SET 	original_no = board_seq
		 WHERE 	board_seq = CURRVAL('board_seq')
	</update>
	
	<delete id="deleteBoard" parameterType="hMap">
		DELETE 
		FROM BOARD_DATA 
		WHERE board_seq = #{seq}
	</delete>
	
	<sql id="whereSelectBoardList">
		<!-- 제목 검색 -->
		<if test="title != null and title != ''">
			AND title LIKE '%${title}%'
		</if>
		
		<!-- 뉴스사 검색 -->
		<if test="news_kind != null and news_kind != ''">
			AND news_kind = #{news_kind}
		</if>
		
		<!-- 기사등록년도 검색 -->
		<if test="replyDtStart != null and replyDtStart != ''">
			<if test="replyDtEnd != null and replyDtEnd != ''">
				<![CDATA[
				AND SUBSTR(news_regist_time,1,4) BETWEEN #{replyDtStart} AND #{replyDtEnd}
				]]>
			</if>
			<if test="replyDtEnd == null and replyDtEnd == ''">
				<![CDATA[
				AND SUBSTR(news_regist_time,1,4) >= #{replyDtStart}
				]]>
			</if>
		</if>
		<if test="replyDtEnd != null and replyDtEnd != ''">
			<if test="replyDtStart == null and replyDtStart == ''">
				<![CDATA[
				AND SUBSTR(news_regist_time,1,4) <= #{replyDtEnd}
				]]>
			</if>
		</if>
	</sql>
	

</mapper>